{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Product Detail{% endblock %}

{% block my_blog_header %}{% endblock %}

{% block my_blog_content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-secondary" onClick="history.go(-1);"><i class="bi bi-arrow-bar-left"></i></a>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-md-6">
        <div class="small mb-1">Codigo: {{ product.code_product }}</div>
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-5">
            <span>${{ product.price }}.00</span>
        </div>
        <div class="fs-3 mb-5">
            <span>{{ product.category }}</span>
        </div>
        <p class="lead">{{ product.description|safe }}</p>
        <p class="post-meta">
            Update by
            <a href="#!">Start Boostrap</a>
            {{ product.updated_at }}
        </p>
        <div class="d-flex">
            <input class="form-control text-center me-3" id="inputQuantity" type="num" value={{ product.amount }} style="max-width: 3rem" readonly/>
            <a class="btn btn-outline-success btn-lg me-3" href="{% url 'product:product-update' product.id %}">
                <i class="bi-pencil-fill me-2"></i>
                Editar
            </a>
            <a class="btn btn-outline-danger btn-lg" href="{% url 'product:product-delete' product.id %}">
                <i class="bi-trash-fill me-2"></i>
                Eliminar
            </a>
        </div>
    </div>
</div>

{% endblock %}