{% extends 'home/index.html' %}
{% load static %}

<!-- ckeditor -->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor -->

{% block my_blog_title %}Product Create{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Create Product</h1>
            <p class="lead fw-normal text-white-50 mb-0">Products List My Blog</p>
        </div>
    </div>
</header>
{% endblock %}

{% block my_blog_content %}
    <div class="col-md-9 offset-md-2">
        <div class="card">
            <div class="card-body">                
                <form method="POST">
                        {% csrf_token %}
                        {{ form.media }} <!-- ckeditor -->                    
                        {{ form.as_p }}
                    <div class="col-4">
                        <input type="submit" class="btn btn-secondary" value="Guardar Producto"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}