{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Product Detail{% endblock %}

{% block my_blog_header %}{% endblock %}

{% block my_blog_content %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-md-6">
        <div class="small mb-1">Codigo: {{ product.code_product }}</div>
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-5">
            <span>${{ product.price }}.00</span>
        </div>
        <div class="fs-3 mb-5">
            <span>{{ product.category }}</span>
        </div>
        <p class="lead">{{ product.description|safe }}</p>
        <p class="post-meta">
            Creado por:
            <span style="color: #0b4956;" href="">{{ product.owner.username }}</span>
            ({{ product.created_at }})
            <br>
            Última actualización ({{ product.updated_at }})
        </p>
        <!-- Update-Delete link only for the owner -->
        <div class="d-flex">
            <input class="form-control text-center me-3" id="inputQuantity" type="num" value={{ product.amount }} style="max-width: 3rem" readonly/>
            {% if user == product.owner or user.is_superuser %}
            <a class="btn btn-outline-success btn-lg me-3" href="{% url 'product:product-update' product.id %}">
                <i class="bi-pencil-fill me-2"></i>
                Editar
            </a>
            
            <a class="btn btn-outline-danger btn-lg" href="{% url 'product:product-delete' product.id %}">
                <i class="bi-trash-fill me-2"></i>
                Eliminar
            </a>
            {% endif %}
        </div>
    </div>
    <!-- Divider -->
    <div class="my-4"/>

    <div class="card bg-light">
        <div class="card-body">
        <!-- Comment creation -->
        <form class="mb-4" method="post" action="{% url 'product:comment-create' product.id %}">
            {% csrf_token %}
            {{ comment_form }}
            <button class="btn btn-outline-primary text-center col col-2" style="float:right;" type="submit">
                <i class="bi bi-chat-fill me-2">
                    Enviar
                </i>
            </button>
        </form>
        {% if not comments %}
        <p></p>
        {% endif %}
        <!-- Comments list -->
        {% for comment in comments %}
            <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg">
                </div>
                <div class="ms-3">
                    <div class="fw-bold">{{ comment.owner.username }} | {{ comment.update_at }}</div>
                    {{ comment.text }}
                    {% if user == comment.owner or user.is_superuser %}
                    <a href="{% url 'product:comment-delete' comment.id %}"><i class="bi bi-x-circle-fill" style="color: #881a1a;"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}