{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Product Detail{% endblock %}

{% block my_blog_header %}{% endblock %}

<!--
{% block my_blog_modal %}
Modal Preguntar a Jonathan
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Seguro que quiere eliminar el producto {{ product.name }} con el codigo {{ product.code_product }}?
        </div>
        <div class="modal-footer">
            <form action="" method="POST">
                {% csrf_token %}
                <a class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</a>
                <input class="btn btn-warning" type="submit" valure="Aceptar"></input>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

esto va en el boton de eliminar
data-bs-toggle="modal" data-bs-target="#deleteModal"
-->

{% block my_blog_content %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-md-6">
        <div class="small mb-1">Codigo: {{ product.code_product }}</div>
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-5">
            <span>${{ product.price }}.00</span>
        </div>
        <div class="fs-3 mb-5">
            <span>{{ product.category }}</span>
        </div>
        <p class="lead">{{ product.description }}</p>
        <p class="post-meta">
            Update by
            <a href="#!">Start Boostrap</a>
            {{ product.updated_at }}
        </p>
        <div class="d-flex">
            <input class="form-control text-center me-3" id="inputQuantity" type="num" value={{ product.amount }} style="max-width: 3rem" readonly/>
            <a class="btn btn-outline-success btn-lg me-3" href="{% url 'product:product-update' product.id %}">
                <i class="bi-pencil-fill me-2"></i>
                Editar
            </a>
            <a class="btn btn-outline-danger btn-lg" href="{% url 'product:product-delete' product.id %}">
                <i class="bi-trash-fill me-2"></i>
                Eliminar
            </a>
        </div>
    </div>
</div>

{% endblock %}