{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Avatar Load{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cargar Imagen de Avatar</h1>
            <p class="lead fw-normal text-white-50 mb-0">LVGBlog</p>
        </div>
    </div>    
</header>
{% endblock %}

{% block my_blog_content %}
<div class="col-md-9 offset-md-2">
    <div class="card">
        <div class="card-body">
            <h1>Usuario: {{user.username}} | {{user.first_name}} {{user.last_name}}</h1>
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}                    
                    {{ form.as_p }}
                <div class="d-flex">
                    <button type="submit" class="btn btn-secondary">Cargar Imagen</button>
                </div>
            </form>
        </div>
    </div>
</div>
   
{% endblock %}