<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block my_blog_title %}Home{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/Logo.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home:index' %}">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home:user-list' %}">Usuarios</a></li>        
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'product:product-list' %}">Productos</a></li>
                                <li><a class="dropdown-item" href="{% url 'product:product-list' %}">Servicios</a></li>
                            </ul>
                        </li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home:user-update' %}"><span class="bi bi-person-fill"></span> Editar Usuario</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}"><span class="bi bi-box-arrow-in-left"></span> Salir Seción </a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home:user-register' %}"><span class="bi bi-person-fill"></span>Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}"><span class="bi bi-box-arrow-in-right"></span> Iniciar Seción </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block my_blog_header %}
        <!-- Header-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5 text-white">
                {% if user.is_authenticated %}
                {% if avatar_url %}
                <img class="img-fluid rounded-circle mb-4" src="{{avatar_url}}" alt="...">
                {% else %}
                <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="...">
                {% endif %}
                <h1 class="display-4 fw-bolder">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">Bienvenido!!!</p>
                {% else %}
                <h1 class="display-4 fw-bolder">LVGBlog</h1>
                <p class="lead fw-normal text-white-50 mb-0">Publica y compra productos o servicios!!!</p>
                {% endif %}  
            </div>
        </header>
        {% endblock %} 

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% block my_blog_content %}
                <!-- Buscador -->
                <form  action="{% url 'home:search' %}" method="GET">
                    <div class="col-md-5 mx-auto">
                        <div class="input-group">
                            <h2 class="post-subtitle">Buscador de Productos o Servicios</h2>
                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class="bi bi-search text-dark"
                                aria-hidden="true"></i></span>
                            <input class="form-control bi bi-search" type="text" name="search_param" placeholder="Buscar..." id="search_code_or_name" 
                            {% if search_param %} value = "{{search_param}}" {% endif %}>

                        </div>
                    </div>
                </form>
                <hr class="my-4" />

                <!-- Si hay resultados en el buscador de Productos-->
                {% if products %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if product.image %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h2 class="post-title">{{ product.name }}</h2>
                                    <!-- Product price-->
                                    ${{ product.price }}.00
                                    <!-- Product category-->
                                    <h5 class="post-subtitle">{{ product.category }}</h5>
                                    <!-- Product create by-->
                                    <p class="post-meta">
                                        Create by
                                        <a href="#!">Start Boostrap</a>
                                        {{ product.created_at }}
                                    </p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product:product-detail' product.id %}">Detalles</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr class="my-4" />
                {% endif %}
                {% endblock %}
            </div>
        </section>

        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}    
        {% endif %}
        
        <!-- Footer-->
        <footer class="py-5 bg-dark text-center text-lg-start">
            <div class="container d-flex justify-content-center py-5">
                <button type="button" class="btn btn-secondary btn-lg mx-2 btn-floating">
                  <i class="bi bi-facebook"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-lg mx-2 btn-floating">
                  <i class="bi bi-youtube"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-lg mx-2 btn-floating">
                  <i class="bi bi-instagram"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-lg mx-2 btn-floating">
                  <i class="bi bi-twitter"></i>
                </button>
              </div>
            <!-- Copyright -->
            <div class="text-center text-white ">Copyright &copy; Ludwig Vargas Garcia 2022</div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>
    </body>
</html>
