{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Login{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{user.username}}</h1>
            <p class="lead fw-normal text-white-50 mb-0">LVGBlog</p>
        </div>
    </div>    
</header>
{% endblock %}

{% block my_blog_content %}
    <div class="col-md-9 offset-md-2">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="display-5 fw-bolder">Cambio de Password exitoso!!!</h1>
                <a class="btn btn-secondary col-4" href="{% url 'home:index' %}">Ir al Inicio</a>        
            </div>
        </div>
    </div>
{% endblock %}