{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Login{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">LVGBlog</p>
        </div>
    </div>    
</header>
{% endblock %}


{% block my_blog_content %}
<div class="col-md-9 offset-md-2">
    <div class="card">
        <div class="card-body">                
            {% if form.errors %}
                <p style="color:red">Combinacion de usuario y contraseña incorrecta, intenta de nuevo.</p>
            {% endif %}
                <form method="POST">
                        {% csrf_token %}                    
                        {{ form.as_p }}
                    <div class="col-4">
                        <input type="submit" class="btn btn-secondary" value="Iniciar Seción"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}