{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Admin{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Lista de Usuario</h1>
            <p class="lead fw-normal text-white-50 mb-0">LVGBlog</p>
        </div>
    </div>    
</header>
{% endblock %}

{% block my_blog_content %}
    <div class="col-md-9 offset-md-2">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{u.username}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.first_name}}</td>
                            <td>{{u.last_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}