{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}User Delete{% endblock %}

{% block my_blog_header %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Eliminar Usuario</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block my_blog_content %}
<div class="col-md-9 offset-md-2">
    <div class="card">
        <div class="card-body">
            <div class="small mb-1">Esta seguro de eliminar: </div>
            <p class="lead">{{ user.username }}</p>
            <!-- Product actions-->
            <form method="POST">
                {% csrf_token %}
                <div class="card-footer p-4 pt- border-top-0 bg-transparent text-center">
                    <a class="btn btn-outline-dark me-3" onClick="history.go(-1);">Cancelar</a>
                    <input class="btn btn-outline-danger" type="submit" value="Aceptar"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}