{% extends 'home/index.html' %}
{% load static %}

{% block my_blog_title %}Login{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="my-5 text-center text-white">
        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="...">
        <h1 class="display-4 fw-bolder">{{user.username}}</h1>
        <p class="lead fw-normal text-white-50 mb-0">LVGBlog</p>
    </div>    
</header>
{% endblock %}

{% block my_blog_content %}
    <div class="col-md-9 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                        {% csrf_token %}                    
                        {{ form.as_p }}
                    <div class="d-flex">
                        <input type="submit" class="btn btn-secondary me-3" value="Guardar Cambios"/>
                        <a class="btn btn-dark" href="{% url 'home:password-change' %}">Cambiar Contraseña</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}