{% extends 'home/index.html' %}
{% load static %}

<!-- ckeditor -->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor -->

{% block my_blog_title %}Service Create{% endblock %}

{% block my_blog_header %}
<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Crear o Editar Servicio</h1>
            <p class="lead fw-normal text-white-50 mb-0">Service My Blog</p>
        </div>
    </div>
</header>
{% endblock %}

{% block my_blog_content %}
<div class="col-md-9 offset-md-2">
    <div class="card">
        <div class="card-body">                
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }} <!-- ckeditor -->                    
                    {{ form.as_p }}
                <div class="col-4">
                    <input type="submit" class="btn btn-secondary" value="Guardar Servicio"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}